@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: #343438;
}

.app {
  width: 1440px;
  max-width: 100%;
  margin: auto;
  position: relative;
}
